.arrivals{
	margin-top: 70px;
	 margin-bottom: 80px;
 
 
}

.arrivals__header{
	margin-bottom: 75px;
}

.arrivals__cards{
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.container{
display: grid;
grid-template-columns: 1fr;
}
